@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Roboto';
}
.topo {
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 37px;
    font-weight: 700;
}
.conteudo {
    
}
.quizzusuario {
    height: 181px;
    width: 1051px;
    border-radius: 5px;
    border: 1px dashed #D4D4D4;
}