@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    background-color: #fafafa;
}
.topo {
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 37px;
    font-weight: 700;
    z-index: 3;
}
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    margin-top: 7px;
    box-sizing: border-box;
}
.page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texto-usuario {
    width: 250px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #B9B9B9;
}
.quizz-usuario {
    height: 181px;
    width: 1035px;
    border-radius: 5px;
    border: 1px dashed #D4D4D4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 77px 0px;
    flex-direction: column;
    box-sizing: border-box;
}
.quizz-usuario-pronto{
    margin: 69px 0 48px  0;
}
.botao-criar {
    height: 40px;
    width: 151px;
    border-radius: 50px;
    color: #EC362D;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    border: 1px dashed #EC362D;
    display: flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.titulo-publico {
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    margin-right: 10px;
}
.quizzes{
    display: flex;
    flex-wrap: wrap;
    width: 1055px;
    box-sizing: border-box;
    
}
.quizzes-seu{
    display: flex;
    flex-wrap: wrap;
    width: 1055px;
    box-sizing: border-box;
}
.quizz {
    height: 181px;
    width: 330px;
    margin: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    word-break: break-all;
}
.img-quizz {
    height: 181px;
    width: 330px;
    border-radius: 5px;
    object-fit: cover;         
    cursor: pointer;
    word-break: break-all;
}
.degrade {
    height: 181px;
    width: 330px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
    position: absolute;
    top: 0px;
    word-break: break-all;
}
.centralizar-titulo {
    position: absolute;
    top: 75%;
    width: 330px;
    height: 15%;
    display: flex;
    align-items: center;
    word-break: break-all;
}
.titulo-quizz {
    padding: 0px 18px;
    max-width: 322px;
    width: 100%;
    word-break: break-all;
    font-size: 19px;
    font-weight: 400;
    text-align: left;
    color: white;
    z-index: 1;
}
.conteudo h3 {
    margin: 40px 0;
    text-align: center;
    font-weight: 700;
    font-size: 23px;
}
.campo-perguntas h4{
    font-weight: 700;
    display: initial;
}
.page3-1 {
    width: 100%;
}
.page3-2 {
    width: 100%;
}
.page3-3 {
    width: 100%;
}
.page3-4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.campo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    padding: 2px 0;
    width: 40%;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #00000040;
    overflow: hidden;
}
.campo input{
    margin: 10px;
    padding: 0 10px;
    width: 90%;
    min-height: 36px;
    color: #BABABA;
    font-style: italic;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
}
.campo-perguntas{
    width: 90%;
}
.campo-topo{
    width: 90%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.campo-topo h4{
    font-weight: 700;
}
.campo-corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botao-informacoes{
    background-color: #EC362D;
    color: #FFF5F4;
    width: 25%;
    min-height: 50px;
    border-radius: 12px;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}
.escondido{
    display: none;
}
.campo-nivel {
        width: 90%;
}
.quizz-pronto {
    height: 270px;
    width: 500px;
    margin: 12px 10px;
    position: relative;
    box-sizing: border-box;
    word-break: break-all;
}
.img-quizz-pronto {
    height: 270px;
    width: 500px;
    border-radius: 5px;
    object-fit: cover;         
    word-break: break-all;
}
.degrade-pronto {
    height: 270px;
    width: 500px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
    position: absolute;
    top: 0px;
    word-break: break-all;
}
.centralizar-titulo-pronto {
    position: absolute;
    top: 80%;
    width: 500px;
    height: 15%;
    display: flex;
    align-items: center;
    word-break: break-all;
}
.titulo-quizz-pronto {
    padding: 0px 18px;
    max-width: 480px;
    width: 100%;
    word-break: break-all;
    font-size: 19px;
    font-weight: 400;
    text-align: left;
    color: white;
    z-index: 1;
}
.caixa-titulo{
    display:flex;
    align-items: center;
}
.caixa-titulo ion-icon{
    color: #EC362D;
    font-size: 32px;
    cursor: pointer;
}
.botao-jogar{
    background-color: #EC362D;
    color: #FFF5F4;
    width: 220px;
    min-height: 50px;
    border-radius: 12px;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}
h6 {
   font-size: 21px;
   font-weight: 400;
   text-align: center;
   color: #818181;
   cursor: pointer;
}
.capa {
    height: 230px;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.page2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.degrade2 {
    position: absolute;
    top: 69px;
    height: 230px;
    width: 100%;
    object-fit: cover;
    background: #00000091;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    color: #ffffff;
}
.jogo-quizz {
    height: auto;
    width: 760px;
    margin-top: 42px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #0000000D;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cor-quizz {
    width: 690px;
    height: 138px;
    color: #FFFFFF;
    margin-top: 28px;
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: break-all;

}
.cor-resultado {
    width: 690px;
    height: 138px;
    background-color: #EC362D;
    color: #FFFFFF;
    margin-top: 28px;
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: break-all;
}
.img-jogo {
    width: 330px;
    height: 175px;
}
.alternativas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15px;
}
.alternativa {
    padding: 10px 14px;
    max-width: 360px;
    word-break: normal;
    cursor: pointer;
}
h5 {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-top: 12px;
}
.correta {
    color: #009C22;
}
.incorreta {
    color: #FF0B0B;
}
.nao-clicada {
    opacity: 0.4;
}
.juntar {
    margin-top: 0px;
}
.resultado-img {
    height: 273px;
    width: 364px;
    margin-right: 10px;
    margin-bottom: 10px;
    object-fit: cover;
}
.descricao {
    height: 250px;
    width: 308px;
    margin-left: 10px;
    font-size: 19px;
    font-weight: 700;
    text-align: left;

}
.margem {
    margin-bottom: 85px;
}
.botao-reiniciar {
    background-color: #EC362D;
    color: #FFF5F4;
    width: 220px;
    min-height: 50px;
    border-radius: 12px;
    margin: 48px auto 30px auto;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}
@media (max-width: 1100px) {

     body {
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    .conteudo {
        width: 100%;
    }
    .page1 {
        width: 100%;
        min-width: 330px;
    }
    .quizz-usuario {
        width: 96%;
    }
    .quizz-usuario-pronto{
        width: 98%;
        display: flex;
        flex-direction: column;
        margin: 30px 0 18px  0;
    }
    .quizzes {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .quizzes-seu{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .quizz-publico {
        width: 98%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .quizz {
        width: 100%;
    }
    .img-quizz {
        width: 100%;
    }
    .centralizar-titulo {
        width: 100%;
        min-width: 330px;
    }
    .titulo-publico {
        width: 100%;
        margin-right: 0;
    }
    .degrade {
        width: 100%;
    }
    .titulo-quizz {
        width: 100%;
        max-width: 100%;
        min-width: 322px;
    }
    .quizz-pronto {
        height: 181px;
        width: 95%;
    }
    .img-quizz-pronto {
        height: 181px;
        width: 100%;
    }
    .degrade-pronto {
        height: 181px;
        width: 100%;
    }
    .centralizar-titulo-pronto {
        top: 75%;
        width: 100%;
        min-width: 330px;
    }
    .titulo-quizz-pronto {
        width: 100%;
        min-width: 322px;
    }
    .campo{
        width: 100%;
    }
    .botao-informacoes{
        width: 90%;
    }
}